*{
    margin: 0;
    padding: 0;
    font-family: 'Belanosima', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Trochut', sans-serif;
}
.main{
    background-image: linear-gradient(to right, blue, white, cyan);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    height: 400px;
    width: 500px;
    background-color: white;
    border-radius: 20px;
}
#item{
    margin : 20px;
    width: 451px;
    height: 30px;
    display: block;
    font-size: 20px;
}
#to-do-box{
    
    
}
#to-do-box li{
    
    list-style: none;
    background-color: #636e72;
    padding: 10px;
    margin: 20px;
    position: relative;
    color: white;
    word-break: break-all;
}
#to-do-box li i{
    /* margin-left: 349px; */
    margin-bottom: 5px;
    right: 10px;
    position: absolute;
    top: 10px;
    /* font-size: 20px;
    margin-bottom: 2px; */
}
.done{
    text-decoration: line-through;
    background-color: #b2bec3 !important;
    color: black !important;

}